<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container{
            width: auto;
            min-width: 700px;
            max-width: 1200px;
            flex-direction: column;
            align-items: center;
        }
        .box{
            padding: 20px;
        }
        .button{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <form action="/addStudentSubmit" method="post" enctype="multipart/form-data">
    <input type="text" name="mailId" value="<%= mailId %>" hidden>
    <div class="box">
        <div class="container">
        <h2>Basic Details</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="studentImage">Picture</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="file" name="studentImage" id="studentImage">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="name">Name</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="name" id="name">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="branch">Branch</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="branch" id="branch">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="degree">Degree</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="degree" id="degree">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="registerNo">Register No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="registerNo" id="registerNo">
            </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="container">
        <h2>Additional Details</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="periodOfStudy">Period Of Study</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="periodOfStudy" id="periodOfStudy">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="dateOfPassing">Date of Passing</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="dateOfPassing" id="dateOfPassing">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="bloodGroup">Blood Group</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="bloodGroup" id="bloodGroup">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="studentMobileNo1">Mobile No 1</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="studentMobileNo1" id="studentMobileNo1">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="studentMobileNo2">Mobile No 2</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="studentMobileNo2" id="studentMobileNo2">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="studentEmail">Email </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="studentEmail" id="studentEmail">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="studentAddress">Address</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="studentAddress" id="studentAddress">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="religion">Religion</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="religion" id="religion">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="cast">Cast</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="cast" id="cast">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="dateOfBirth">Date Of Birth</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="dateOfBirth" id="dateOfBirth">
            </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="container">
        <h2>Basic Details</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="fatherName">Father Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="fatherName" id="fatherName">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="motherName">Mother Name</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="motherName" id="motherName">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="fatherEmail">Father Email</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="fatherEmail" id="fatherEmail">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="motherEmail">Mother Email</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="motherEmail" id="motherEmail">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="fatherMobileNo">Father Mobile No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="fatherMobileNo" id="fatherMobileNo">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="motherMobileNo">Mother Mobile No</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="motherMobileNo" id="motherMobileNo">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="parentAddress">Parent Address</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="parentAddress" id="parentAddress">
            </div>
            </div>image
        </div>
    </div>
    <div class="box">
        <div class="container">
        <h2>Gardian Details</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="gardianName">Gardian Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="gardianName" id="gardianName">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="gardianEmail">Gardian Email</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="gardianEmail" id="gardianEmail">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="gardianMobileNo">Gardian Mobile No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="gardianMobileNo" id="gardianMobileNo">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="gardianAddress">Gardian Address</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="gardianAddress" id="gardianAddress">
            </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="container">
        <h2>SSLC</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="SSLC_Medium">Medium</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="SSLC_Medium" id="SSLC_Medium">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="SSLC_YearOfPassing">Year Of Passing</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="SSLC_YearOfPassing" id="SSLC_YearOfPassing">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="SSLC_Institutename">Institude Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="SSLC_Institutename" id="SSLC_Institutename">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="SSLC_Mark">Marks</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="SSLC_Mark" id="SSLC_Mark">
            </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="container">
        <h2>HSC</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="HSC_Medium">Medium</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="HSC_Medium" id="HSC_Medium">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="HSC_YearOfPassing">Year Of Passing</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="HSC_YearOfPassing" id="HSC_YearOfPassing">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="HSC_Institutename">Institute Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="HSC_Institutename" id="HSC_Institutename">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="HSC_Marks">Marks</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="HSC_Marks" id="HSC_Marks">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="HSC_Cuttoff">Cutt Off</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="HSC_Cuttoff" id="HSC_Cuttoff">
            </div>
            </div>
        </div>
    </div>
    
    <div class="box">
        <div class="container">
        <h2>Diplamo</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="diplamo_Medium">Medium</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="diplamo_Medium" id="diplamo_Medium">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="diplamo_YearOfPassing">Year Of Passing</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="diplamo_YearOfPassing" id="diplamo_YearOfPassing">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="diplamo_Institutename">Mark</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="diplamo_Institutename" id="diplamo_Institutename">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="diplamo_CGPA">CGPA</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="diplamo_CGPA" id="diplamo_CGPA">
            </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="container">
        <h2>Degree</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="degree_Branch">Branch</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="degree_Branch" id="degree_Branch">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="degree_YearOfPassing">Year Of Passing</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="degree_YearOfPassing" id="degree_YearOfPassing">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12">
                <label for="degree_Institutename">Institute Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7 col-12">
                <input type="text" name="degree_Institutename" id="degree_Institutename">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-12">
                <label for="degree_CGPA">CGPA</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-12">
                <input type="text" name="degree_CGPA" id="degree_CGPA">
            </div>
            </div>
        </div>
    </div>
    <div class="box" >
        <div class="button">
            <button type="submit">submit</button>
        </div>
    </div>
</form>
</body>
</html>