<!DOCTYPE html>
<html>
<head>
    <title>Display Image from Buffer Data</title>
</head>
<body>
    <h1>Image from Buffer Data</h1>
    <img src="data:<%=type %>;base64, <%= image%>" alt="Your Image">
</body>
</html>